body{
 
 
  color:rgb(0,0,0);
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}
.heading{
  border-radius:25px;
  margin:1%;
  padding:1%;
  display:inline-block;
  font-family:'Lobster';
}
.heading img{
  background-color:#0099cc;
  border-radius:25px;
  display:inline-block;
  font-family:'Lobster';
  width:50%;
}
a { color: inherit; 
} 
h2{
  color:black;
  padding-left:1%;
  padding-top:1%;
}
p{
  padding-bottom: 1%;
  padding-left:1%;
  font-size:25px;
}
div{
  border-radius:25px;
}

button{
margin:1%;
}
#output{
 margin-top:1%;
  border-radius:25px;
  font-family:'Lobster';
}
h2{
  font-family:Times New Roman;
}
/*pattern credit to Lea Verou at http://lea.verou.me/css3patterns/ */

body {
  min-width:300px;
  background-color: lightsteelblue;
  font-family: ropa sans, sans-serif;
}

body a {
  color: navy;
}

header {
  border: 1px solid darkslategray;
  color: black;
  background-color: gainsboro;
  padding: 5px 10px 10px 20px;
}

/*the complete upper search box */
section#initial-search {
  height: auto;
  width: 70%;
  max-width: 1000px;
  margin: 0px auto;
  margin-top: 40px;
  left: 0;
  right: 0;
  border: 1px solid black;
  position: relative;
  background-color: lightgray;
  overflow: auto;
  box-shadow: 4px 4px 2px black;
}

.search-title {
  border-bottom: 1px solid gray;
  text-align: center;
  font-weight: bold;
}

/*the framed box of slightly lighter and smaller gray within the larger box */
.inner-box {
  margin: 2px;
  padding-top: 25px;
  padding-bottom:25px;
  border: 1px solid gray;
  height: 100%;
  text-align: center;
  font-weight: bold;
  background-color: gainsboro;
}

/*wrapper - the search area including text field and buttons */
section#initial-search .inner-box .search-area {
  position:relative;
  overflow:auto;
  text-align:center;
}

/* wrapper - contains the input box text input */
section#initial-search .inner-box .search-area .input-box-field {
  text-align:right;
  width: 80%;
  display:inline-block;
}

/*the input bo itself */
section#initial-search .inner-box .search-area input.input-box {
  font-weight: normal;
  width:100%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: right;
  display:inline;
}

/*wrapper containing both buttons */
section#initial-search .inner-box .search-area .buttons {
  margin-left:1%;
  
  white-space:nowrap;
  display:inline-block;
}

/* 'surprise me' button */
section#initial-search .inner-box .search-area input.surprise-me-button {
  cursor: default;
  font-weight:normal;
}

/* 'find' button */
section#initial-search .inner-box .search-area input.find-button {
  cursor: default;
}

/* styling for buttons when clicked */
section#initial-search .inner-box .search-area input.find-button:active,
section#initial-search .inner-box .search-area input.surprise-me-button:active{
  cursor: default;
  background-color:black;
  color:white;  
}

/*design of search results box */
section#search-results {
  border: 1px solid black;
  color: black;
  max-width:900px;
  margin: 0px auto;
  margin-top: 40px;
  background-color: lightgray;
  box-shadow: 4px 4px 2px gray;
  display:none;
}

section#search-results .search-result {
  border-bottom: 1px dashed gray;
  border-top: 1px dashed gray;
  margin: 5px 0px 5px 0px;
  padding-left: 20px;
  text-align:left;
}

section#search-results .search-result h1 {
  font-size:2em;
  margin-bottom:0px;
  margin-top:10px;
}

/*sets attributes for search result */
section#search-results .search-result p {
  font-weight:normal;
  font-size: 1.5em;
  margin-left: 25px;
}


/*the below are required for the jquery ui */
.ui-autocomplete {
  width:20px;
  border:1px solid lightgray;
  padding-right: 2%;
  background-color: white;
  text-align:right;
  font-weight:normal;
  color:gray;
}

.ui-autocomplete li {
  list-style:none;
}

.ui-autocomplete li:hover {
  font-weight:bold;
}

.ui-helper-hidden-accessible {
  display:none;
}


/*end autocomplete UI */

